!next_Steps.md
/privado/

# Datos SPADL generados
data/spadl/

# Scripts temporales y de debug
/scripts/

# Archivo de agentes
agents.md

.vscode/
__pycache__/
*.pyc

# Jupyter Notebooks
.ipynb_checkpoints/

# Entornos virtuales
.venv/

#Corrección de errores
/correcciones/